<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>Donate Food Near You</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="icon" type="image/png" href="/static/images/logo.png">
  </head>
  <body class="bg-[#FB923C]/90"> 
  {% include "components/navbar.html.jinja" %}
  <div class="max-w-7xl mx-auto px-6 py-12">
  <h1 class="text-5xl text-center p-3 md:text-6xl italic font-extrabold mb-12 tracking-wide">DONATE FOOD NEAR YOU</h1>
<div class="grid md:grid-cols-2 gap-12 items-start">
  <div>
    <img src= /static/products/Donate.png alt="Food Donation" class="rounded-lg shadow-lg w-full h-full object-cover">
  </div>
    
<div class="space-y-6 text-xl">
 <div>
  <div class="flex items-center space-x-3 mb-4">
   <span class="text-green-600 text-2xl">✔</span>
   <h2 class="text-4xl italic font-semibold">Accepted Items</h2>
  </div>
  <ul class="space-y-2 ml-10 text-xl list-disc list-none">
    <li>Packaged foods</li>
    <li>Fresh produce</li>
    <li>Sealed drinks</li>
    <li>Bakery items (same day)</li>
   </ul>
 </div>
   <div>
     <div class="flex items-center space-x-3 mb-4">
        <span class="text-red-600 text-2xl">✖</span>
          <h2 class="text-4xl italic font-semibold">Not Accepted</h2>
     </div>

  <ul class="space-y-2 ml-10 list-disc list-none">
    <li>Open containers</li>
    <li>Expired food</li>
    <li>Alcohol</li>
    <li>Homemade meals</li>
   </ul>
              </div>

<a href= "/type_donate" class="inline-block bg-gradient-to-r from-white to-green-900 text-black px-6 py-3 ml-68 rounded-lg font-semibold hover:bg-gray-800 transition-colors duration-200">
Donate Here
</a>
      </div>

        </div>

    </div>
  </body>
</html>     