<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body> 
  <div>
  <h1 class="font-bold text-4xl text-center p-3">DONATE FOOD NEAR YOU</h1>

<div class="flex gap-18 mt-8 ml-130">
  <div class="flex flex-col items-center">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="48"
         height="48"
         viewBox="0 0 48 48">
      <g fill="none" stroke-linejoin="round" stroke-width="4">
        <path fill="#16a839" stroke="#000"
          d="M24 44C29.5228 44 34.5228 41.7614 38.1421 38.1421C41.7614 34.5228 44 29.5228 44 24C44 18.4772 41.7614 13.4772 38.1421 9.85786C34.5228 6.23858 29.5228 4 24 4C18.4772 4 13.4772 6.23858 9.85786 9.85786C6.23858 13.4772 4 18.4772 4 24C4 29.5228 6.23858 34.5228 9.85786 38.1421C13.4772 41.7614 18.4772 44 24 44Z"/>
        <path stroke="#fff" stroke-linecap="round" d="M16 24L22 30L34 18"/>
      </g>
    </svg>

    <p class="font-semibold mt-2">WE ACCEPT</p>
    <ul class="list-disc pl-5 text-left space-y-1 text-xl">
      <li>Packaged Foods</li>
      <li>Fresh Produce</li>
      <li>Sealed Drinks</li>
      <li>Bakery Items (same day)</li>
    </ul>
  </div>

  <div class="flex flex-col items-center">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="48"
         height="48"
         viewBox="0 0 24 24">
      <g fill="#16a839">
        <path d="M8.478 8.478a1 1 0 0 1 1.414 0l2.154 2.153l2.153-2.153a1 1 0 1 1 1.414 1.414l-2.153 2.154l2.153 2.153a1 1 0 0 1-1.414 1.414l-2.153-2.153l-2.154 2.153A1 1 0 0 1 8.478 14.2l2.153-2.153l-2.153-2.154a1 1 0 0 1 0-1.414"/>
        <path fill-rule="evenodd"
        d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2"
        clip-rule="evenodd"/>
      </g>
    </svg>

    <p class="font-semibold mt-2">NOT ACCEPTING</p>
    <ul class="list-disc pl-5 text-left space-y-1 text-xl">
      <li>Open Containers</li>
      <li>Expired Food</li>
      <li>Alcohol</li>
      <li>Homemade Meals</li>
    </ul>
  </div>

</div>
<p class="mt-80 text-3xl whitespace-pre-wrap font-bold p-6 bg-green-200 h-34">  HELP REDUCE FOOD WASTE BY DONATING 
  SURPLUS FOOD TO COMMUNITY FRIDGES.</p>
  </body>
</html>     