<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
{% include "components/navbar.html.jinja" %}
<div class="min-h-screen bg-white">
  <div class="h-72 bg-gradient-to-r from-white to-green-300">
      {% include "components/navbar.html.jinja"%}

    <h1 class="text-5xl font-extrabold text-center text-red-800">
      Welcome to the FridgeNet!
    </h1>
  </div>

  </h1>
  <div class="bg-white">
    <h1 class="text-5xl font-extrabold text-center text-red-800">
      Welcome to the FridgeNet!
    </h1>
  </div>
</div>
</body>